.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center both horizontally */
  gap: 15px;
  /* Space between image and text */
  margin: 30px 0;
  cursor:pointer;
}

.logo {
  width: 100px;
  height: 100px;
}

.page-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  color: #5c3d99;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100px;
  height: 100px;
}

.border {
  border: 2px solid thistle;
  margin-left:1px;
}